# Imports

All the imports will be gradually added in the following cell when they became necessary:

In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import scale
from sklearn.preprocessing import OneHotEncoder
from sklearn.linear_model import LogisticRegression

#This is just to ignore minor warning for readability
import warnings
warnings.filterwarnings("ignore")

# Load the data

First, we procede at loading the data and doing a general exploration to see what types of preprocessing we need before applying an estimator.

In [2]:
train = pd.read_csv("/Users/lorenzo/Desktop/auto-insurance-fall-2017/train_auto.csv")
test = pd.read_csv("/Users/lorenzo/Desktop/auto-insurance-fall-2017/test_auto.csv")

In [3]:
print(train.shape)
train.head()

(8161, 26)

,INDEX,TARGET_FLAG,TARGET_AMT,KIDSDRIV,AGE,HOMEKIDS,YOJ,INCOME,PARENT1,HOME_VAL,...,BLUEBOOK,TIF,CAR_TYPE,RED_CAR,OLDCLAIM,CLM_FREQ,REVOKED,MVR_PTS,CAR_AGE,URBANICITY
0,1,0,0.0,0,60.0,0,11.0,"$67,349",No,$0,...,"$14,230",11,Minivan,yes,"$4,461",2,No,3,18.0,Highly Urban/ Urban
1,2,0,0.0,0,43.0,0,11.0,"$91,449",No,"$257,252",...,"$14,940",1,Minivan,yes,$0,0,No,0,1.0,Highly Urban/ Urban
2,4,0,0.0,0,35.0,1,10.0,"$16,039",No,"$124,191",...,"$4,010",4,z_SUV,no,"$38,690",2,No,3,10.0,Highly Urban/ Urban
3,5,0,0.0,0,51.0,0,14.0,NaN,No,"$306,251",...,"$15,440",7,Minivan,yes,$0,0,No,0,6.0,Highly Urban/ Urban
4,6,0,0.0,0,50.0,0,NaN,"$114,986",No,"$243,925",...,"$18,000",1,z_SUV,no,"$19,217",2,Yes,3,17.0,Highly Urban/ Urban

In [4]:
train.describe()

,INDEX,TARGET_FLAG,TARGET_AMT,KIDSDRIV,AGE,HOMEKIDS,YOJ,TRAVTIME,TIF,CLM_FREQ,MVR_PTS,CAR_AGE
count,8161.000000,8161.000000,8161.000000,8161.000000,8155.000000,8161.000000,7707.000000,8161.000000,8161.000000,8161.000000,8161.000000,7651.000000
mean,5151.867663,0.263816,1504.324648,0.171057,44.790313,0.721235,10.499286,33.485725,5.351305,0.798554,1.695503,8.328323
std,2978.893962,0.440728,4704.026930,0.511534,8.627589,1.116323,4.092474,15.908333,4.146635,1.158453,2.147112,5.700742
min,1.000000,0.000000,0.000000,0.000000,16.000000,0.000000,0.000000,5.000000,1.000000,0.000000,0.000000,-3.000000
25%,2559.000000,0.000000,0.000000,0.000000,39.000000,0.000000,9.000000,22.000000,1.000000,0.000000,0.000000,1.000000
50%,5133.000000,0.000000,0.000000,0.000000,45.000000,0.000000,11.000000,33.000000,4.000000,0.000000,1.000000,8.000000
75%,7745.000000,1.000000,1036.000000,0.000000,51.000000,1.000000,13.000000,44.000000,7.000000,2.000000,3.000000,12.000000
max,10302.000000,1.000000,107586.136160,4.000000,81.000000,5.000000,23.000000,142.000000,25.000000,5.000000,13.000000,28.000000

In [5]:
print(test.shape)
test.head()

(2141, 26)

,INDEX,TARGET_FLAG,TARGET_AMT,KIDSDRIV,AGE,HOMEKIDS,YOJ,INCOME,PARENT1,HOME_VAL,...,BLUEBOOK,TIF,CAR_TYPE,RED_CAR,OLDCLAIM,CLM_FREQ,REVOKED,MVR_PTS,CAR_AGE,URBANICITY
0,3,NaN,NaN,0,48.0,0,11.0,"$52,881",No,$0,...,"$21,970",1,Van,yes,$0,0,No,2,10.0,Highly Urban/ Urban
1,9,NaN,NaN,1,40.0,1,11.0,"$50,815",Yes,$0,...,"$18,930",6,Minivan,no,"$3,295",1,No,2,1.0,Highly Urban/ Urban
2,10,NaN,NaN,0,44.0,2,12.0,"$43,486",Yes,$0,...,"$5,900",10,z_SUV,no,$0,0,No,0,10.0,z_Highly Rural/ Rural
3,18,NaN,NaN,0,35.0,2,NaN,"$21,204",Yes,$0,...,"$9,230",6,Pickup,no,$0,0,Yes,0,4.0,z_Highly Rural/ Rural
4,21,NaN,NaN,0,59.0,0,12.0,"$87,460",No,$0,...,"$15,420",1,Minivan,yes,"$44,857",2,No,4,1.0,Highly Urban/ Urban

In [6]:
sum(test["TARGET_FLAG"].isna())

2141

In [7]:
sum(test["TARGET_AMT"].isna())

2141

In [8]:
test.describe()

,INDEX,TARGET_FLAG,TARGET_AMT,KIDSDRIV,AGE,HOMEKIDS,YOJ,TRAVTIME,TIF,CLM_FREQ,MVR_PTS,CAR_AGE
count,2141.000000,0.0,0.0,2141.000000,2140.000000,2141.000000,2047.000000,2141.000000,2141.000000,2141.000000,2141.000000,2012.000000
mean,5150.098552,NaN,NaN,0.162541,45.016822,0.717422,10.379091,33.152265,5.244745,0.808968,1.765997,8.183400
std,2956.329272,NaN,NaN,0.486949,8.525006,1.116579,4.170008,15.722393,3.971026,1.137481,2.203413,5.766263
min,3.000000,NaN,NaN,0.000000,17.000000,0.000000,0.000000,5.000000,1.000000,0.000000,0.000000,0.000000
25%,2632.000000,NaN,NaN,0.000000,39.000000,0.000000,9.000000,22.000000,1.000000,0.000000,0.000000,1.000000
50%,5224.000000,NaN,NaN,0.000000,45.000000,0.000000,11.000000,33.000000,4.000000,0.000000,1.000000,8.000000
75%,7669.000000,NaN,NaN,0.000000,51.000000,1.000000,13.000000,43.000000,7.000000,2.000000,3.000000,12.000000
max,10300.000000,NaN,NaN,3.000000,73.000000,5.000000,19.000000,105.000000,25.000000,5.000000,12.000000,26.000000

In [9]:
for i in train.columns:
    print(i," - ", train[i].dtype)
   
print("")
print("Test set columns \n")

for i in test.columns:
    print(i," - ", test[i].dtype)

INDEX  -  int64
TARGET_FLAG  -  int64
TARGET_AMT  -  float64
KIDSDRIV  -  int64
AGE  -  float64
HOMEKIDS  -  int64
YOJ  -  float64
INCOME  -  object
PARENT1  -  object
HOME_VAL  -  object
MSTATUS  -  object
SEX  -  object
EDUCATION  -  object
JOB  -  object
TRAVTIME  -  int64
CAR_USE  -  object
BLUEBOOK  -  object
TIF  -  int64
CAR_TYPE  -  object
RED_CAR  -  object
OLDCLAIM  -  object
CLM_FREQ  -  int64
REVOKED  -  object
MVR_PTS  -  int64
CAR_AGE  -  float64
URBANICITY  -  object

Test set columns

INDEX  -  int64
TARGET_FLAG  -  float64
TARGET_AMT  -  float64
KIDSDRIV  -  int64
AGE  -  float64
HOMEKIDS  -  int64
YOJ  -  float64
INCOME  -  object
PARENT1  -  object
HOME_VAL  -  object
MSTATUS  -  object
SEX  -  object
EDUCATION  -  object
JOB  -  object
TRAVTIME  -  int64
CAR_USE  -  object
BLUEBOOK  -  object
TIF  -  int64
CAR_TYPE  -  object
RED_CAR  -  object
OLDCLAIM  -  object
CLM_FREQ  -  int64
REVOKED  -  object
MVR_PTS  -  int64
CAR_AGE  -  float64
URBANICITY  -  object

In [10]:
#I used this cell in order to singularly inspect each column without polluting the notebook too much with things 
#that are not worth to be shown 
train["URBANICITY"]

0         Highly Urban/ Urban
1         Highly Urban/ Urban
2         Highly Urban/ Urban
3         Highly Urban/ Urban
4         Highly Urban/ Urban
                ...
8156    z_Highly Rural/ Rural
8157      Highly Urban/ Urban
8158      Highly Urban/ Urban
8159      Highly Urban/ Urban
8160    z_Highly Rural/ Rural
Name: URBANICITY, Length: 8161, dtype: object

# Necessary preprocessing

As we can see, <b>some numerical variables are not considered as numerical </b> so we need to convert them in order to use them to make predictions. At the same time, we separate numerical and categorical columns in order to better process them. It can easily be seen that the single values are string which present a "$" symbol as the first character. Also the "," is a problem for the conversion.

In [11]:
#here we define the numerical and categorical columns. And the target / not target columns. 
num_col_convert = ["INCOME", "HOME_VAL", "OLDCLAIM","BLUEBOOK"]
num_col_others = ["KIDSDRIV", "AGE", "HOMEKIDS", "YOJ", "TRAVTIME", "TIF", "CLM_FREQ", "MVR_PTS", "CAR_AGE"]
num_col = num_col_convert + num_col_others

cat_col = ["PARENT1", "MSTATUS", "SEX", "EDUCATION", "JOB", "CAR_USE", "CAR_TYPE", "RED_CAR", "REVOKED", "URBANICITY"]

not_target_col = num_col + cat_col
target_col = ["TARGET_FLAG", "TARGET_AMT"]

In [12]:
#this loop remove the ""$" and "," characters from each value in the columns to convert
for col in num_col_convert:
    for row in range(len(train)):
        train[col][row] = str(train[col][row]).replace("$","")
        train[col][row] = str(train[col][row]).replace(",","")

#this loop transform the values of the columns into float values
for col in num_col_convert:
    train[col] = np.array(train[col]).astype(float)
    
train.head()

,INDEX,TARGET_FLAG,TARGET_AMT,KIDSDRIV,AGE,HOMEKIDS,YOJ,INCOME,PARENT1,HOME_VAL,...,BLUEBOOK,TIF,CAR_TYPE,RED_CAR,OLDCLAIM,CLM_FREQ,REVOKED,MVR_PTS,CAR_AGE,URBANICITY
0,1,0,0.0,0,60.0,0,11.0,67349.0,No,0.0,...,14230.0,11,Minivan,yes,4461.0,2,No,3,18.0,Highly Urban/ Urban
1,2,0,0.0,0,43.0,0,11.0,91449.0,No,257252.0,...,14940.0,1,Minivan,yes,0.0,0,No,0,1.0,Highly Urban/ Urban
2,4,0,0.0,0,35.0,1,10.0,16039.0,No,124191.0,...,4010.0,4,z_SUV,no,38690.0,2,No,3,10.0,Highly Urban/ Urban
3,5,0,0.0,0,51.0,0,14.0,NaN,No,306251.0,...,15440.0,7,Minivan,yes,0.0,0,No,0,6.0,Highly Urban/ Urban
4,6,0,0.0,0,50.0,0,NaN,114986.0,No,243925.0,...,18000.0,1,z_SUV,no,19217.0,2,Yes,3,17.0,Highly Urban/ Urban

We can see that the columns that we had to convert are now considered as numeric (with float values). We can countercheck printing again the column names again with the type.

In [13]:
for i in num_col_convert:
    print(i," - ", train[i].dtype)

INCOME  -  float64
HOME_VAL  -  float64
OLDCLAIM  -  float64
BLUEBOOK  -  float64

We repeat now the same process with the test set.

In [14]:
for col in num_col_convert:
    for row in range(len(test)):
        test[col][row] = str(test[col][row]).replace("$","")
        test[col][row] = str(test[col][row]).replace(",","")

#this loop transform the values of the columns into float values
for col in num_col_convert:
    test[col] = np.array(test[col]).astype(float)
    
#test.describe()

In addition, we can see that both test and training set present null values. So, we are going to <b> remove the null values </b> keeping the indexes of the dataset. 
Finally, we are going to <b> normalize the dataset </b>

In [15]:
#standardization
train[num_col]=scale(train[num_col])
test[num_col]=scale(test[num_col])

In [16]:
#removing rows with null values
train = train.dropna(axis=0)
train["index"] = range(0,len(train))
train = train.set_index("index")

new_test = test[not_target_col]
new_test = new_test.dropna(axis=0)
new_test = pd.merge(new_test, test)
test = new_test
test["index"] = range(0,len(test))
test = test.set_index("index")

Now that we dealt with the numerical columns, we can work on the categorical ones. We will proceed <b> encoding the categorical columns with one hot encoding</b>. In order to use those variables / to not give to different labels a greater magnitude.

In [17]:
#here we create a dataframes just with the categorical columns and remove those 
#columns from the original datasets
cat_train = train[cat_col]
cat_test = test[cat_col]

train = train.drop(cat_col, axis=1)
test = test.drop(cat_col, axis=1)

#here we perform the one hot encoding
encod = OneHotEncoder(sparse=False)

cat_train_enc = encod.fit_transform(cat_train)
col_encod = encod.get_feature_names(cat_train.columns)
cat_train_enc = pd.DataFrame(cat_train_enc, columns=col_encod)

cat_test_enc = encod.fit_transform(cat_test)
col_encod_t = encod.get_feature_names(cat_test.columns)
cat_test_enc = pd.DataFrame(cat_test_enc, columns=col_encod_t)

#finally we merge the encoded data to the initial datasets

final_train = pd.concat([cat_train_enc, train], axis=1)

final_test = pd.concat([cat_test_enc, test], axis=1)

In [18]:
#we separate predictors and target column(s) and remove again the null values
target = final_train[target_col]
final_train = final_train.drop(target_col, axis=1)
final_test = final_test.drop(target_col, axis=1)

In [19]:
final_test = final_test.dropna(axis=0)
print(final_test.shape)

(1612, 47)

At this point, besides using all the variables <b>we could also select just some variables</b> with a feature importance plot or some other method.

# Model implementation

In [20]:
model = LogisticRegression()
model.fit(final_train, target["TARGET_FLAG"])
pred = model.predict(final_test)
sum(pred)

0

In [21]:
pred_tr = model.predict(final_train)
len(pred_tr)

6045

In [22]:
zeros = len(train[train["TARGET_FLAG"]==0])
zeros

4443

In [23]:
ones = len(train[train["TARGET_FLAG"]==1])
ones

1602

In [24]:
correct = 0
for i in range(len(train)):
    if train["TARGET_FLAG"][i] == pred_tr[i]:
        correct += 1
        
correct

4776

In [25]:
#The accuracy on the training set 
accuracy = (correct / len(train))*100
print("the accuracy on the training set is", accuracy,"%")

the accuracy on the training set is 79.00744416873448 %

Here we could, also implement different models and tune the parameters in order to obtain a better accuracy.

# Output exportation

In [26]:
final_test["Prediction"] = pred

In [27]:
final_test.to_csv(r'/Users/lorenzo/Desktop/auto-insurance-fall-2017/predictions.csv',header=True)